:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply text-black relative before:bg-black before:absolute before:h-[2px] before:block before:left-0 before:-bottom-[2px] before:w-0 hover:before:w-full before:transition-all before:duration-300;
  }

  .footer-link {
    @apply text-base text-white relative before:bg-white before:absolute before:h-[2px] before:block before:left-0 before:-bottom-[2px] before:w-0 hover:before:w-full before:transition-all before:duration-300;
  }
}
