<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
  </head>
  <body>
    <div
      style="
        background-color: #f2f5f8;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
      "
    >
      <div style="width: 600px">
        <header>
          <img
            src="https://platinum-beam.vercel.app/logo.png"
            alt="logo"
            style="width: 80px; height: 80px"
          />
        </header>

        <main
          style="
            border-radius: 4px;
            padding: 25px;
            background: #fff;
            margin-top: 20px;
          "
        >
          <p style="font-size: 16px; color: #333">
            Hello Platinum Beam, <br />
            The contact form was just filled with information. Here are the
            details: <br /><br />
            <b>Name:</b> John Smith <br />
            <b>Email Address:</b> johnsmith@gmail.com <br />
            <b>Message:</b> I would like to talk to you. <br /><br />

            Please go ahead and contact the person.
          </p>
        </main>

        <footer style="margin-top: 40px">
          <p style="font-size: 14px; color: #333">
            Block A2, Plot 12B, Fajuyi Estate, Off Ilawe Road, Ado Ekiti
          </p>

          <div
            style="
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-top: 10px;
            "
          >
            <img
              src="https://platinum-beam.vercel.app/logo.png"
              alt="logo"
              style="width: 30px; height: 30px"
            />

            <div style="display: flex; align-items: center; gap: 10px">
              <a href="https://www.instagram.com/platinumbeamconcept"
                ><img
                  src="https://platinum-beam.vercel.app//instagram.svg"
                  alt="instagram-logo"
              /></a>
              <a href="https://www.facebook.com/profile.php?id=100094608620510"
                ><img
                  src="https://platinum-beam.vercel.app//facebook.svg"
                  alt="facebook-logo"
              /></a>
              <a
                href="https://www.linkedin.com/company/platinum-beam-concept-limited/about/"
                ><img
                  src="https://platinum-beam.vercel.app//linkedIn.svg"
                  alt="linkedIn-logo"
              /></a>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
